{% extends "base.html" %}
{% block home_status %}active{% endblock home_status %}

{% load static %}

{% block slider %}

<section class="slider_section ">
<div id="customCarousel1" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">

<div class="carousel-item active">

<div class="container ">
<div class="row">

<div class="col-md-7 col-lg-6 ">

<div class="detail-box">

<h1>
Fast Food Restaurant
</h1>

<p>
Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde.
</p>

</div>
</div>
</div>
</div>

</div>

</div>

<div class="container">
<ol class="carousel-indicators">
<li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
</ol>
</div>

</div>
</section>

{% endblock slider %}

{% block main %}

<section class="food_section layout_padding-bottom">

<div class="container">

<div class="heading_container heading_center">
<h2>
Our Menu
</h2>
</div>

<!-- FILTER MENU -->

<ul class="filters_menu">

<li class="active">All</li>

{% for i in list %}

<li>
{{i.Category_name}}
</li>

{% endfor %}

</ul>

<!-- FOOD ITEMS -->

<div class="filters-content">

<div class="row">

{% for j in items %}

<div class="col-sm-6 col-lg-4">

<div class="box">

<div>

<div class="img-box" style="height:200px; display:flex; align-items:center; justify-content:center;">

<img src="/media/{{j.Image}}" alt="{{j.Image}}" style="max-height:180px; width:auto;">

</div>

<div class="detail-box">

<h5>
{{j.Item_name}}
</h5>

<p>
{{j.description}}
</p>

<div class="options">

<h6>
${{j.Price}}
</h6>

<button class="btn btn-success add-to-cart"
data-item-id="{{j.id}}"
data-item-name="{{j.Item_name}}"
data-item-price="{{j.Price}}">
Add to Cart
</button>

</div>

</div>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

</div>

</section>

<!-- ADD TO CART SCRIPT -->

<script>

document.querySelectorAll('.add-to-cart').forEach(button => {

button.addEventListener('click', function() {

const itemId = this.getAttribute('data-item-id');

fetch('/add-to-cart/', {

method: 'POST',

headers: {
'Content-Type': 'application/x-www-form-urlencoded',
'X-CSRFTOKEN': '{{ csrf_token }}'
},

body: `item_id=${itemId}`

})

.then(response => response.json())

.then(data => {

if (data.message) {
alert(data.message);
} else {
alert('Failed to add item to cart.');
}

})

.catch(error => console.error('Error:', error));

});

});

</script>

{% endblock main %}